<h2 class="text-center">Lista de Certificados Digitais</h2>
<div class="container">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Código do Produto</th>
        <th>Nome do Produto</th>
        <th>Público Alvo</th>
        <th>Validade</th>
        <th>Preço Venda</th>
        <th>Ativo</th>
        <th>Meses de Validade</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cert of certificados">
        <td>{{ cert.id }}</td>           <!-- id -->
        <td>{{ cert.nomeProduto }}</td>             <!-- nomeProduto -->
        <td>{{ cert.tipoPublico }}</td>      <!-- tipoPublico -->
        <td>{{ cert.validade }}</td>    <!-- validade -->
        <td>{{ formatarPreco(cert.preco) }}</td> <!-- preco -->
        <td>{{ cert.ativo ? 'Sim' : 'Não' }}</td>     <!-- ativo -->
        <td>{{ cert.validadeMeses }}</td> <!-- Meses de Validade -->
        <td>
          <button (click)="consultaCertificadodigital(cert.id)" class="btn btn-success" style="margin-left: 10px;">Consultar</button>
          <button (click)="alterarCertificadodigital(cert.id)" class="btn btn-info" style="margin-left: 10px;">Alterar</button>
          <button (click)="excluirCertificadodigital(cert.id)" class="btn btn-danger" style="margin-left: 10px;">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>

  <br>
  <button (click)="inserirCertificadodigital()" class="btn btn-info" style="margin-left: 10px;">Incluir Novo Certificado Digital</button>

</div>