<div class="container mt-4 p-4 border rounded shadow-sm bg-light">

  <h3 class="mb-4 text-center text-primary">Detalhes da Venda do Certificado Digital</h3>

  <div class="row mb-2">
    <div class="col-md-6"><strong>Código do Produto:</strong> {{ certificadodigital.id }}</div>
    <div class="col-md-6"><strong>Nome do Produto:</strong> {{ certificadodigital.nomeProduto }}</div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6"><strong>Público Alvo:</strong> {{ certificadodigital.tipoPublico }}</div>
    <div class="col-md-6"><strong>Validade:</strong> {{ certificadodigital.validade | date: 'dd/MM/yyyy' }}</div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6"><strong>Meses de Validade:</strong> {{ certificadodigital.validadeMeses }}</div>
    <div class="col-md-6"><strong>Preço de Venda:</strong> R$ {{ certificadodigital.preco }}</div>
  </div>

  <div class="row mb-4">
    <div class="col-md-6"><strong>Ativo:</strong> {{ certificadodigital.ativo ? 'Sim' : 'Não' }}</div>
  </div>

  <div class="text-end">
    <button (click)="retornar()" class="btn btn-success btn-voltar">
      ⬅️ Voltar
    </button>
  </div>

</div>