<h2 class="text-center text-primary fw-bold mt-4">
  Bem-vindo ao Sistema de Gestão de Certificados Digitais
</h2>

<p class="text-center mt-3">
  Este sistema permite gerenciar certificados digitais de forma simples e eficiente. 
  Você pode realizar operações de <strong>inclusão</strong>, <strong>consulta</strong>, <strong>alteração</strong>, <strong>exclusão</strong> e <strong>listagem</strong> dos certificados.
</p>

<!--
<div class="text-center mt-4">
  <a routerLink="/certificados" class="btn btn-primary fw-bold">
    Acessar Certificados Digitais
  </a>
</div>
-->


<div class="text-center mt-4">
  <img src="/a1.jpg" alt="Certificado Digital" class="img-fluid rounded" width="350">
  <img src="/cds2.jpg" class="img-fluid rounded" width="450">
  <img src="/a3.jpg" alt="Certificado Digital" class="img-fluid rounded" width="350">
</div>